.header {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  position: fixed;
  width: 100%;
}
.header img {
  width: 12em;
  margin: 10px 50px 0;
}

@media screen and (max-width: 600px) {
  .header img {
    width: 10em;
    margin: 10px 20px 0;
  }
  
}
