<!-- <p *ngFor="let movie of allMovies">{{movie.backdrop_path}}</p> -->
<div class="browse-page">
  <app-header></app-header>

  <div class="banner">
    <img
      [src]="'https://image.tmdb.org/t/p/original' + bannerMovie.poster_path"
      alt="banner image"
      class="banner-image"
    />
    <div class="banner-info">
      <h3>{{ bannerMovie.title }}</h3>
      <p>{{ bannerMovie.overview }}</p>

      <div class="banner-action">
        <button type="button" class="play-btn"><img src="https://img.icons8.com/ios-glyphs/30/play--v1.png" alt="play--v1"/> Play</button>
        <button type="button" class="info-btn"><img  src="../../../assets/info.png" alt="info--v1"/> More Info</button>
      </div>
    </div>
  </div>

  <div class="movies-categories">
    <app-movies-category
      [categoryTitle]="'Now Playing'"
      [movies]="nowPlayingMovies"
    ></app-movies-category>
    <app-movies-category
      [categoryTitle]="'Top Rated'"
      [movies]="topRatedMovies"
    ></app-movies-category>
    <app-movies-category
      [categoryTitle]="'Upcoming'"
      [movies]="upcomingMovies"
    ></app-movies-category>
  </div>
</div>
