<div>
  <form (ngSubmit)="submitForm()">
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Enter your name"
      [(ngModel)]="name"
    />
    <input
      type="text"
      id="email"
      name="email"
      placeholder="Enter your email"
      [(ngModel)]="email"
    />
    <input
      type="text"
      id="message"
      name="message"
      placeholder="Enter your message"
      [(ngModel)]="message"
    />

    <button type="submit">Submit</button>
  </form>

  <div class="info" *ngIf="isSubmitted; else noInfo">
    <app-message-display
      *ngFor="let data of allData; let i = index"
      [data]="data"
      [i]="i"
    ></app-message-display>
    
  </div>

  <ng-template #noInfo>
    <p>Hey. Kindly fill the form :)</p>
  </ng-template>
</div>
