<div class="container">
   
   <app-header></app-header>
   <div class="form">
      <form action="" (ngSubmit)="onSubmit()">
         <h1>Sign In</h1>
         <input type="email" placeholder="Email" [(ngModel)]="email" name="email"/>
         <input type="password" placeholder="Password" [(ngModel)]="password" name="password"/>
         <input type="submit" value="Sign In">
         <!-- <span>
            New to Netflix? <a href="#">Sign up now.</a>
         </span>
         <small>
            This page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="#">Learn more.</a>
         </small> -->
      </form>
   </div>
</div>