<div class="container">
   <div class="header">
      <img src="https://cdn.cookielaw.org/logos/dd6b162f-1a32-456a-9cfe-897231c7763c/4345ea78-053c-46d2-b11e-09adaef973dc/Netflix_Logo_PMS.png" alt="Netflix Logo" />
   </div>

   <div class="form">
      <form action="">
         <h1>Sign In</h1>
         <input type="email" placeholder="Email or phone number" />
         <input type="password" placeholder="Password" />
         <input type="submit" value="Sign In">
         <!-- <span>
            New to Netflix? <a href="#">Sign up now.</a>
         </span>
         <small>
            This page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="#">Learn more.</a>
         </small> -->
      </form>
   </div>
</div>