* {
  margin: 0;
  padding: 0;
}

.container {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/4da5d2b1-1b22-498d-90c0-4d86701dffcc/ea4e3067-609b-4f51-a5ae-88663802fbfc/NG-en-20240129-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.form {
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-self: center;
  color: white;
  padding: 2em 4em;
  margin: 10em auto;
}
.form h1 {
  font-size: 2em;
  margin: 1em 0;
}
.form input {
  display: block;
  width: 300px;
  padding: 1em;
  margin: 1.5em 0;
  border: 1px solid #c0bbbb;
  background-color: rgba(70, 90, 126, 0.4);
  border-radius: 5px;
  color: white;
}
.form input[type="submit"] {
  background-color: #e50914;
  border: none;
  padding: 1em;
  margin-top: 1em;
  cursor: pointer;
  width: 100%;
}
.form input[type="submit"]:hover {
  background-color: #ff0a16;
}

@media screen and (max-width: 600px) {
  .form {
    padding: 2em;
  }
  .form input {
    width: 200px;
  }
  .form input[type="submit"] {
    width: 100%;
    font-size: 1.1rem;
  }
  
}